<h2>Create a New Place</h2>
<form action="/main/addplace" method="POST">
    <div class="form-group">
        <label for="name">Place Name: </label>
        <input type="text" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="streetNumber">Street Number: </label>
        <input type="text" name="streetNumber" class="form-control" id="streetNumber">
    </div>
    <div class="form-group">
        <label for="streetName">Street Name: </label>
        <input type="text" name="streetName" class="form-control" id="streetName">
    </div>
    <div class="form-group">
        <label for="cityName">City: </label>
        <input type="text" name="cityName" class="form-control" id="cityName">
    </div>
    <div class="form-group">
        <label for="stateName">State: </label>
        <input type="text" name="stateName" class="form-control" id="stateName">
    </div>
    <div class="form-group">
        <label for="zipCode">Zip Code: </label>
        <input type="text" name="zipCode" class="form-control" id="zipCode">
    </div>
    <div class="form-group">
        <label for="category">Category: </label>
        <input type="text" name="category" class="form-control" id="category">
    </div>
    <div class="form-group">
        <label for="review">Review: </label>
        <input type="text" name="review" class="form-control" id="review">
    </div>
    <input type="submit">
</form>