<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--This is the CDN link for mapbox and the necessary css stylesheet to make
    popups and markers work-->
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />
    <title>Places</title>
</head>
<body>
    <header class="navContainer">
        <h1 class="appName">Places</h1>
        <nav>
            <ul class="navbar">
              <% if (!currentUser) { %>
                <li class="mainli"><a class="alink" href="/auth/signup">Signup</a></li>
                <li class="mainli"><a class="alink" href="/auth/login">Login</a></li>
              <% } else { %>
                <li class="mainli"><a class="alink" href="/main">Home</a></li>
                <li class="mainli"><a class="alink" href="/profile">Profile</a></li>
                <li class="mainli"><a class="alink" href="/auth/logout">Logout</a></li>
              <% } %>
            </ul>
          </nav>
    </header>
    <%- include('partials/alerts') %>
    <%- body %>
</body>
</html>