
<h1>Welcome home:</h1>
<div id='map' style='width: 400px; height: 300px;'></div>
<p> <%= apiResponse.data.features[0].place_name %> </p>
<p> <%= apiResponse.data.features[0].center[0] %> </p>
<p> <%= apiResponse.data.features[0].center[1] %> </p>

<a href="/main/addplace"><button>Add a Place</button></a>
<a href="/profile"><button>View Places</button></a>

<script>
document.addEventListener('DOMContentLoaded', () => {
        //My MapBox Api.
        mapboxgl.accessToken = 'pk.eyJ1IjoicGxhY2VzLWFwcCIsImEiOiJja3Z2NWdidXpienpyMnZwZ3VtYXA5ZzZ3In0.xPD6PBPl3J-fosIjAtzYSQ'
        //Geolocation API to get user Location
        navigator.geolocation.getCurrentPosition(position => {
        let userLong = position.coords.longitude
        let userLat = position.coords.latitude
        let userLocation = [userLong, userLat]
        console.log('This is the api response to my geolocation: ', userLocation)
        //Rendering map on site
        const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: userLocation, // starting position [lng, lat]
        zoom: 13 // starting zoom
        })
        //Marker on Map on User Location
        const marker = new mapboxgl.Marker({
            color: "blue"
        }).setLngLat(userLocation).addTo(map)
        //Popup at User Location
        const popup = new mapboxgl.Popup()
        .setLngLat(userLocation)
        .addTo(map)
        });
})
</script>