<!--User's Main Dashboard Page with Map-->
<link rel="stylesheet" href="../public/css/style.css">

<div class="container mt-3">
    <div class="container d-inline justify-content-center mt-4 text-center">
        <h1 class="display-6">Welcome home:</h1>
        <p class="lead">Add or view your favorites places!</p>
    </div>
    
    <div class="container-sm d-flex justify-content-around" style="width: 50%">
        <a href="/main/addplace"><button class="btn btn-primary" >Add a Place</button></a>
        <a href="/profile"><button class="btn btn-primary">View Your Places</button></a>
    </div>

    <div id='map' class="mt-3" style='width: 100%; height: 500px;'></div>
</div>



<script>
document.addEventListener('DOMContentLoaded', () => {
        const existingPlace = <%- JSON.stringify(existingPlaceData) %>;
        //My MapBox Api.
        mapboxgl.accessToken = 'pk.eyJ1IjoicGxhY2VzLWFwcCIsImEiOiJja3Z2NWdidXpienpyMnZwZ3VtYXA5ZzZ3In0.xPD6PBPl3J-fosIjAtzYSQ'
        //Geolocation API to get user Location
        navigator.geolocation.getCurrentPosition(position => {
        let userLong = position.coords.longitude
        let userLat = position.coords.latitude
        let userLocation = [userLong, userLat]
        console.log('This is the api response to my geolocation: ', userLocation)
        //Rendering map on site
        const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: userLocation, // starting position [lng, lat]
        zoom: 13 // starting zoom
        })
        
         //Testing out popup
        const popup = new mapboxgl.Popup(
        )
        .setText(`Home Coordinates: ${userLocation}`)
        //Marker on Map on User Location
        const marker = new mapboxgl.Marker({
            color: "blue"
        }).setLngLat(userLocation)
        .setPopup(popup)
        .addTo(map)

        //Create a new marker and pull data for userlocation from database
        existingPlace.forEach(savedPlace => {
            console.log('Im in', existingPlace)

            //Popup at addedPlace
            const popup = new mapboxgl.Popup()
            .setText(`Name: ${savedPlace.name}, Category: ${savedPlace.category}, Review: ${savedPlace.review}`)

            const newMarker = new mapboxgl.Marker({
            color: "red"
            })
            .setLngLat([savedPlace.long, savedPlace.lat])
            .setPopup(popup)
            .addTo(map)
        })
        });
})
</script>