#intro {
    height: 100%;
    width: 100%;
    position: absolute;
    color: whitesmoke;
    background-color: blueviolet;
    font-weight: bold;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.mainli {
    display: inline;
    margin: 1rem;
}

.alink {
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.alink:hover {
    background-color: #111;
}

.appName {
    text-align: center;
    color: whitesmoke;
    padding-top: 1.5rem;
}

.navContainer {
    background-color: lightslategray;
}

.addViewLinksContainer {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 1.25rem;
}

.addViewLinks {
    padding: 1rem;
}

.indexHeading {
    text-align: center;
}

.welcomeMessage {
    text-align: center;
}
